_ReSharper.*
bin
obj
build
dist
*.suo
*resharper*
*.user
*.cache
*.dotCover
lib/Ninject/*.zip
lib/Ninject/*/**
lib/Ninject.Extensions.Factory/*.zip
lib/Ninject.Extensions.Factory/*/**
/src/Ninject.Extensions.Conventions/StyleCop.Cache
/src/Ninject.Extensions.Conventions.Test/StyleCop.Cache
/src/Ninject.Extensions.Conventions.sln.docstates
/src/Ninject.Extensions.Conventions/StyleCop.Cache
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/AssemblyFinderTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/ConventionBindingBuilderTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/ConventionSyntaxBindingTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/ConventionSyntaxFilteringTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/ConventionSyntaxFromTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/ConventionSyntaxSelectTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/TypeFilterTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingBuilder/TypeSelectorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/AllInterfacesBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/BaseBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/BindableTypeSelectorTest.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/DefaultInterfaceBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/DefaultInterfacesBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/KernelMock.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/SelectorBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/SelfBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/BindingGenerators/SingleInterfaceBindingGeneratorTests.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Bar.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/BaseService.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Foo.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IBar.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IBar{T1,T2}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IBar{T}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/ICrazyService.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IFoo.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IFoo{T}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IMultipleInterfaceCrazyService.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IService.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/IService{T}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseClosedGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseNormalInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseOfDerivedGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseOfDerivedInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseOpenGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseOpenGenericInterface1.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IBaseOpenGenericInterface2.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IClosedGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IDefaultConvention.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IDerivedGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IDerivedInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/INormalInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/Interfaces/IOpenGenericInterface.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/MultipleInterfaceCrazyService.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/NormalClasses/AbstractClassWithManyInterfaces.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/NormalClasses/ClassWithManyInterfaces.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/NormalClasses/DefaultConvention.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/OpenGenerics/GenericBaseClassWithManyInterfaces{T1,T2}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/OpenGenerics/GenericBaseClassWithManyInterfaces{T}.cs
/src/Ninject.Extensions.Conventions.Test/Fakes/OpenGenerics/OpenGenericClassWithManyInterfaces.cs
/src/Ninject.Extensions.Conventions.Test/IntegrationTests/AssemblyLoadingTests.cs
/src/Ninject.Extensions.Conventions.Test/IntegrationTests/NormalClassBindingTests.cs
/src/Ninject.Extensions.Conventions.Test/IntegrationTests/OpenGenericClassBindingTests.cs
/src/Ninject.Extensions.Conventions.Test/Settings.StyleCop
/src/Ninject.Extensions.Conventions.SilverlightTests/StyleCop.Cache
/src/Ninject.Extensions.Conventions.1.1.dotCover